<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Add Contact </title>
</head>

<body>
    <div id="content">
        <div th:if="${loggedInUser}">
            <div th:replace="~{user/sidebar::sidebar}"></div>
        </div>
        <div class="sm:pl-64 pt-20 ">


            <div class="grid grid-cols-12">
                <div class="col-span-3 ">

                </div>
                <div class="col-span-12 md:col-span-6 ">
                    <div
                        class="card block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <div th:replace="~{message::message-box}"></div>
                        <h1 class="text-2xl font-semibold">Add New Contact</h1>
                        <p class="text-gray-500">This contact will be stored on cloud,you can direct this client from
                            scm ...</p>

                        <form th:action="@{'/user/contacts/add'}" method="post" th:object="${contactForm}" class="mt-8" enctype="multipart/form-data" novalidate>
                            <div class="mb-6">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Name</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-user w-4 h-4"></i>
                                    </div>
                                    <input type="text" 
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Name" th:field="*{name}">
                                       
                                </div>
                                <p class="text-red-800"
                                th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}">Invalid name</p>
                            </div>
                            <!-- email field -->
                            <div class="mb-6">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Email</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-envelope h-4 w-4"></i>
                                    </div>
                                    <input type="email" 
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="abc@gmail.com" th:field="*{email}">
                                </div>
                                <p class="text-red-800"
                                th:if="${#fields.hasErrors('email')}"
                                th:errors="*{email}">Invalid name</p>
                            </div>
                            <!-- phone field -->
                            <div class="mb-6">
                                <label for="input-group-1"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Phone</label>
                                <div class="relative mb-1">
                                    <div
                                        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <i class="fa-solid fa-phone h-4 w-4"></i>
                                    </div>
                                    <input type="text" 
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="9876543210" th:field="*{phoneNumber}">
                                </div>
                                <p class="text-red-800"
                                th:if="${#fields.hasErrors('phoneNumber')}"
                                th:errors="*{phoneNumber}">Invalid name</p>
                            </div>

                            <!-- address field -->
                            <div class="mb-6">
                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Address</label>
                                <textarea id="message" rows="4"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Address of contact" th:field="*{address}"></textarea>
                                    <p class="text-red-800 mt-1"
                                    th:if="${#fields.hasErrors('address')}"
                                    th:errors="*{address}">Invalid name</p>

                            </div>

                            <!-- descriptions -->

                            <div class="mb-6">
                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                    Description</label>
                                <textarea id="message" rows="4"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Contact Description" th:field="*{description}"></textarea>
                            </div>
                            <!-- social link -->
                            <div class="flex space-x-2">
                                <div class="w-full">
                                    <div class="mb-6">
                                        <div class="relative mb-6">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-solid fa-earth-america h-4 w-4"></i>
                                            </div>
                                            <input type="text" 
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="https://google.com" th:field="*{websiteLink}">
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <div class="mb-6">
                                        <div class="relative mb-6">
                                            <div
                                                class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="fa-brands fa-linkedin w-4 h-4"></i>
                                            </div>
                                            <input type="text" 
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                placeholder="https://fa-linkedin" th:field="*{linkedInLink}">
                                        </div>
                                    </div>
                                </div>

                            </div>
                             <!-- profile imgge -->
                             <div class="mb-6">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="default_size">Contact Image</label>
                                <input id="image_file_input" class="block w-full mb-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" th:field="*{contactImage}" type="file">
                                <img class="max-h-50 h-48 mx-auto rounded-lg shadow m-3 "  id="upload_image_preview" alt="" style="display: none;">
                                <p class="text-red-800"
                                th:if="${#fields.hasErrors('contactImage')}"
                                th:errors="*{contactImage}">Invalid name</p>
                             
                                
                            </div>
                            <!-- favourite check box-->

                            <div class="mb-3">
                                <div class="flex items-center mb-4">
                                    <input  type="checkbox" value=""
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" th:field="*{favorite}">
                                    <label for="default-checkbox"
                                        class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Is this
                                        contact is your favourite one?</label>
                                </div>
                            </div>
                            <!-- submit button -->
                             <div class="button-container text-center">
                                <button type="submit" class="px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 rounded bg-black text-white">Add Contact</button>
                                <button type="reset" class="px-3 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 rounded bg-black text-white">Reset</button>
                             </div>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <script th:src="@{'/js/admin.js'}"></script>
    <script>
        console.log("Welcome to about page");
    </script>
    
</body>

</html>