<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content"  class="text-center mt-5 md:w-1/2 mx-auto">

        <div th:replace="~{message::message-box}"></div>
        <a href="/login" class="bg-green-800 px-3 py-2 mt-2 rounded text-white">Login </a>

    </div>
    <script>
        console.log("Welcome to about page");
    </script>
</body>
</html>